.experience {
    background-image: url("../assets/images/cartoonspace.png");
    background-size: cover;
    height: 100vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100vh;
        width: 100%;

        h1 {
            color: white;
            font-size: 3rem;
        }
    }
}

.tab-group {
    margin: 3rem;
    background-color: white;
    max-width: 80%;
}

.card {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-media {
    height: auto; 
    width: auto;
    max-width: 20vh; 
    max-height: 20vw;
    padding: 0.5rem;
}

.job-title {
    font-size: 2rem;
}

.job-description {
    font-size: 1rem;
}
