.projects__background {
    position: relative;
    height: 100vh;
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;

    h1 {
        color: white;
        font-size: 3rem;
    }
}

.button-group {
    margin: 3rem;
}

.card {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-media {
    height: auto; 
    width: auto;
    max-width: 20vh; 
    max-height: 20vw;
    padding: 0.5rem;
}

.project-name {
    font-size: 2rem;
}

.project-skills {
    font-size: 1.5rem;
}

.project-description {
    font-size: 1rem;
}
